@if (alert$ | async; as alert) {
  <div class="toast-alert" [ngClass]="'toast-' + alert.type">
    <div class="toast-icon">
      {{ getIcon(alert) }}
    </div>

    <div class="toast-content">
      <strong>{{ alert.title }}</strong>
      <span>{{ alert.message }}</span>
    </div>

    @if (alert.action) {
      <button class="btn btn-primary" type="button" (click)="callback(alert.action!)">
        {{ alert.action!.label }}
      </button>
    }

    <button class="toast-close" type="button">
      ×
    </button>

  </div>

}
